/* Contains All Winter Specific Styles.
This includes snowman and the middle background. */

.snowflakes {
    position: absolute;
    top: 0;
    height: 760px;
    width: 100%;
}
.backdrop .birdststic {
    position: absolute;
    left: 34px;
    top: 233px;
    z-index: 200;
}

.backdrop .bleft {
    position: relative;
    background: url("/assets/common/img/home-canada-leftside.svg");
    background-repeat: no-repeat;
    background-position: -1% 93%;
    background-size: 400px;
}

.backdrop .bright {
    position: relative;
    background: url("/assets/common/img/home-canada-rightside.svg");
    background-repeat: no-repeat;
    background-position: 102% 100%;
    background-size: 440px;
}

.backdrop .bleft {
    position: relative;
    background: url("/assets/common/img/home-canada-leftside.svg");
    background-repeat: no-repeat;
    background-position: -1% 93%;
    background-size: 400px;
}

.backdrop .bright {
    position: relative;
    background: url("/assets/common/img/home-canada-rightside.svg");
    background-repeat: no-repeat;
    background-position: 102% 100%;
    background-size: 440px;
}

.backdrop .linebg {
    position: absolute;
    bottom: -117px;
    background: url(/assets/common/img/snow-floor.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 150px;
    width: 100%;
}

.header .snowman {
    position: absolute;
    bottom: -53px;
    right: 385px;
}

.header .snowman #coversnow {
    position: absolute;
    left: 59px;
    bottom: -6px;
}

.backdrop .bcenter {
    position: absolute;
    background: url(/assets/common/img/winterbkgcneter.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 285px;
    width: 867px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.backdrop .bcenter .family {
    position: relative;
    height: 100%;
    width: 100%;
}

.backdrop .bcenter .family .momd {
    position: absolute;
    bottom: -10px;
    right: 250px;
}

.backdrop .bcenter .family .dadson {
    position: absolute;
    bottom: -15px;
    left: 120px;
}

.backdrop .birdststic {
    position: absolute;
    left: 34px;
    top: 233px;
    z-index: 200;
}

@media only screen and (max-width: 1300px) {
    .backdrop .bcenter {
        height: 450px;
        width: 100%;
        background-size: cover;
    }
    .backdrop .linebg {
        position: absolute;
        bottom: -74px;
        background: url(/assets/common/img/snow-floor.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 130px;
        width: 100%;
    }
    .snowflakes {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .backdrop .bright {
        background-image: none;
    }
    .header .snowman {
        right: 10px;
    }
    .backdrop .bcenter .family .dadson {
        left: 0;
    }
}

@media only screen and (max-width: 750px) {
    .backdrop .bcenter .family .dadson {
        display: none;
    }
    .backdrop .bcenter .family .momd {
        left: 0;
    }
    .backdrop .bcenter {
        background-position: 90%;
    }
    .header .snowman {
        left: 200px;
    }
}

@media only screen and (max-width: 576px) {
    .header .snowman {
        right: 0;
        left: unset;
    }
}

@media only screen and (max-width: 450px) {
    .backdrop .bcenter {
        background-position: 80%;
    }
}

@media only screen and (max-width: 375px) {
    .backdrop .bcenter {
        background-position: 77%;
    }
}
